.filter_input {
  margin-left: 15px;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 5px;
  border: 1px solid #888;
  border-radius: 5px;
}

.filter_input:focus-visible {
  outline: 1px solid #4b98f5;
}
